.main-div {
  background-color: black;
  height: 56px;
  display: flex;
  align-items: center;
}

.topheader__social-icons > i {
  font-size: 13px;
  color: #fff;
  margin-right: 20px;
}

.topheader_list {
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
}
