.technology .tabpanel__content__single {
  display: flex;
  justify-content: space-between;
  gap: 3rem;
  margin-bottom: 5rem;
}

.technology .tabpanel__content__single img {
  width: 172px;
  height: 172px;
}

.technology__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 1rem;
  position: relative;
}
